body{
    background-color: white;
    text-align: center;
}
#header{
    background-color:#f2f2f2;
    height: 60px;
    text-align: right;

    border-bottom: solid 1px crimson;
}
#logo{
    font-family:  "Trebuchet MS";
    color:crimson;
}
#header ul{
    padding-top: 36px;
}
#header ul li{
    font-family: "Times New Roman";
    color: black;
    padding: 10px;

    list-style: none;
    display: inline;
}
#header ul li a{
    color: black;
}
.authForm {
    margin: auto;
    max-width: 350px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.authBaslik{
    font-family:  "Trebuchet MS";
    text-align: center;
    color: crimson;
}
.authForm table{
    border: 0px dotted;
    text-align: right;
}
.authForm label{
    font-family: "Times New Roman";
    font-size:12pt ;
}

.authForm .txtBox{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.authForm input[type=button]{
    width: 100px;
    height: 30px;
    background-color: crimson;
    font-family: "Trebuchet MS";
    font-size: 12pt;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: 1px solid #ccc ;
}
.authForm input[type=button]:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.authForm input[type=submit]{
    width: 100px;
    height: 30px;
    background-color: crimson;
    font-family: "Trebuchet MS";
    font-size: 12pt;
    font-weight: bold;
    color: white;
    border:none;
    border-radius: 5px;
    border: 1px solid #ccc ;
    cursor: pointer;
}
.authForm input[type=submit]:hover{
    background-color: #aa132b;
}
#loginForm {
    position: relative;
}
#divSearch {
    padding: 10px;
}
#divSearch input[type=text]{
    width: 80%;
    height: 35px;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#divSearch input[type=submit]{
    width: 10%;
    height: 35px;
    border-radius: 4px;
    background-color: crimson;
    font-family: "Trebuchet MS";
    font-size: 12pt;
    font-weight: bold;
    color: white;
    border: 1px solid #ccc ;
    cursor: pointer;
}
#divSearch input[type=submit]:hover{
    background-color: #aa132b;
}
.faux-fb-btn button{
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
    color: #ffffff;
    font:bold 12px 'Calibri Light','Tahoma','Verdana','Arial';
    display: block;
    border: none;
    background: #406093 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yR/r/teE39sffXW8.png) no-repeat 10px;
    cursor: pointer;
}
