RewriteEngine On

RewriteRule ^$ controller/index.php
RewriteRule ^signin$ controller/signin.php
RewriteRule ^login$ controller/login.php
RewriteRule ^logout$ controller/logout.php
RewriteRule ^profile$ controller/profile.php
RewriteRule ^help$ controller/help.php
RewriteRule ^list-customers$ controllers/list-customers.php
RewriteRule ^order-details$ controllers/order-details.php
RewriteRule ^order-ship$ controllers/order-ship.php
RewriteRule ^list-new-orders$ controllers/list-new-orders.php