RewriteEngine On

RewriteRule ^$ controller/index.php
RewriteRule ^([0-9]+) controller/index.php?cat=$1
RewriteRule ^signin$ controller/signin.php
RewriteRule ^login$ controller/login.php
RewriteRule ^logout$ controller/logout.php
RewriteRule ^profile$ controller/profile.php
RewriteRule ^help$ controller/help.php
RewriteRule ^products$ controller/list-products.php
RewriteRule ^sell$ controller/sell-products.php
RewriteRule ^show-product$ controller/show-product.php
RewriteRule ^urun-islemleri$ controller/urun.php
RewriteRule ^uyelik-islemleri$ controller/uyelik.php
RewriteRule ^bize_ulasin$ controller/bize_ulasin.php
RewriteRule ^giris$ controller/giris.php
RewriteRule ^kayit$ controller/kayit.php
RewriteRule ^profil$ controller/profil.php
RewriteRule ^satis$ controller/satis.php
RewriteRule ^siparis$ controller/siparis.php
RewriteRule ^sepet$ controller/sepet.php
RewriteRule ^update-profile$ controller/update-profile.php
RewriteRule ^messaging$ controller/messaging.php