RewriteEngine On

RewriteRule ^$ controller/index.php
RewriteRule ^signin$ controller/signin.php
RewriteRule ^login$ controller/login.php
RewriteRule ^logout$ controller/logout.php
RewriteRule ^profile$ controller/profile.php
RewriteRule ^help$ controller/help.php
RewriteRule ^products$ controller/list-products.php
RewriteRule ^sell$ controller/sell-products.php
RewriteRule ^show-product$ controller/show-product.php