<div id="product-details-form">
    <table>
        <tr>
            <td>Ürün Adı:</td>
            <td><input id="product_name" type="text" name="product_name" placeholder="Ürün Adı"/></td>
        </tr>
        <tr>
            <td>Fiyatı:</td>
            <td><input id="product_price" type="text" name="product_price" placeholder="Fiyat"/></td>
        </tr>
        <tr>
            <td>Ürün Fotoğrafı</td>
            <td><input id="product_image" type="text" name="product_image" placeholder="URL"></td>
        </tr>
        <tr>
            <td></td>
            <td><input id="btnSell" type="button" name="btnSell" value="Sat!"/></td>
        </tr>
    </table>
</div>